
.container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input {
    margin-bottom: 200px;
}

#submit {
    display: flex;
    float: right;
}